.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 3rem;
}

.content-form{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.user-card {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.card h3 {
    margin-top: 0;
    color: #333;
}

/*.user-info, .user-purchases {
    margin-bottom: 20px;
}

.user-purchases ul {
    list-style-type: none;
    padding: 0;
}

.user-purchases li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}*/

.btn-danger{
    background-color: var(--danger-color);
    border: none;
    color: white;
    padding: 0.9rem 2.2rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.3);
}

.btn-danger:hover{
    background-color: var(--hover-color-danger);
    transform: scale(1.05);
}