/* Contenedor principal del carrusel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    padding: 20px 0; /* Espaciado superior e inferior */
    position: relative; /* Necesario para posicionar los puntitos */
    margin-bottom: 3rem;
}

/* Cada slide */
.slider > div {
    width: 100%;
    height: 400px; /* Ajusta la altura del carrusel */
    position: relative;
    overflow: hidden;
}

/* Imágenes dentro de cada slide */
.slider > div img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionarla */
    display: block;
}